[2016-09-27 22:25] hekaldama opened #2 "Is there a way to only show containers I started?"
Trying to figure out how to use a docker swarm cluster with this plugin. I would like to be able to only see the containers I started or own. Can you think of a way to do this with this plugin? Would I need to submit PRs for `AuthZRes()`?

Thanks.

[2016-09-27 22:49] tsandall commented on #2
AFAIK, Docker doesn't allow plugins to modify the request or response, so at this time, what you're asking for is not possible.

That being said, if Docker did allow plugins to modify the response, what you suggested would be correct. For example, we could update `AuthZRes()` to apply a set of changes returned by a query to OPA. The policy could define the set of changes as JSON Patch operations o

[2016-09-27 23:08] hekaldama commented on #2
Thanks for the reply and that makes sense if the feature becomes available in docker.

[2016-09-27 23:08] #2 closed

[2017-06-30 18:29] tsandall opened #4 "Port to new plugin model"
Docker now supports a container-based plugin model for authorization plugins. We should port this example over and update the tutorial in the OPA docs.

Relevant link: https://docs.docker.com/engine/extend/#installing-and-using-a-plugin

[2017-09-14 17:26] keyolk opened #5 "Is there a way matching data of body to patterned string ?"
Hi,
I'm trying to force user to use white/black listed volume binding.
But I cant find how I can match it to some patterned string, like regex expression.

[code]
for example what I want to is ..
allow belows
-v /allowed/:/one -> o
-v /allowed/:/two -> o
-v /allowed/:/three -> o

and deny belows
-v /:/one -> x
-v /:/two -> x
-v /:/three -> ...

any Ideas to solve ?

[2017-09-14 17:52] tsandall commented on #5
OPA supports a bunch of string manipulation built-ins as well as regex matching: http://www.openpolicyagent.org/docs/language-reference.html

Something like...

[code]

Does this solve your issue?

[2017-09-15 01:08] keyolk commented on #5
@tsandall Super! it works exactly what I want : D
and ... last
From log,
it puts decimalized body data to output
Is there a way to convert it to string ?

Currently what I see is like below
[code]

[2017-09-15 07:26] keyolk commented on #5
@tsandall
Sorry, one more question.

Lets say docker client try to create container with below volume binding.
- case1 : /usr:/host/usr
- case2: /usr/lib:/host/usr/lib

and what my desired policy is that
never allow client to make binds under host's /usr path.

case1 is easily covered by your helpful example rego, thanks again.
but for case2, I stucked.

I tried write policy with builtin function

[2017-09-15 16:31] tsandall commented on #5
If you want to whitelist/blacklist prefixes, try something like...

[code]

Regarding examples, you can find a bunch in the documentation and tutorials on the OPA website.

Also, we're starting to populate a standard library in https://github.com/open-policy-agent/library. If you have Docker policies you'd like to contribute, please go ahead and submit a PR there!

[2017-09-15 16:33] tsandall commented on #5
The logging could be improved by changing this: https://github.com/open-policy-agent/opa-docker-authz/blob/master/main.go#L36. Instead of just printing the request value, the code could reach into the request object and print individual values.

[2017-09-18 04:34] keyolk commented on #5
@tsandall
Kool : )

[2017-09-18 15:26] tsandall opened #6 "Improve request logging"
Currently the plugin logs the Docker request object as is. As a result, the HTTP body is printed as a an array of bytes (which is not very useful.)

Instead, the plugin could log individual Docker request object fields and provide better formatting for values like the HTTP body.

This should be a fairly simple change as there is only one place where the request is logged.

Reported in #5

[2017-09-18 15:27] tsandall commented on #5
Created an issue to track the request logging improvement. Closing this for now. Feel free to reopen if you feel like there are other related questions.

[2017-09-18 15:27] #5 closed

[2017-12-14 05:32] nicdesousa opened #7 "Makefile build fails"
The master branch build is failing with:
[code]
A similar issue was reported and resolved at:
https://github.com/ContainX/docker-volume-netshare/issues/84

[2017-12-14 17:25] tsandall commented on #7
We can vendor the dependencies and lock to the old version of the plugin library and/or update to the latest.

[2017-12-15 04:44] nicdesousa commented on #7
Thank you, this Issue has been resolved in v0.1.6.

[2017-12-15 04:44] #7 closed

[2018-01-03 09:47] brettgeer opened #10 "Filesystem mount auth can be bypassed by use of symlinks"
docker run --rm -it -v "/:/test" --name...
docker: Error response from daemon: authorization denied by plugin opa-docker-authz: request rejected by administrative policy.

ln -s / volume
docker run --rm -it -v `pwd`/volume:/test ...

the root filesystem is now  availbale in the container

[2018-01-08 19:09] tsandall commented on #10
@brettgeer thanks for opening this. I'm not sure if the authorization plugin can do anything about this as I suspect it would need to be able to stat the file (the webhook call probably receives the symlink path).

That being said, do you think this is valid given that the user needs host-level access in the first place to create the symlink?

[2018-01-15 08:38] brettgeer commented on #10
Hi, testing for the path being a directory is a must, otherwise we'd just bypass auth using a symlink like I did

[2018-01-15 16:44] tsandall commented on #10
I will follow up with Docker about this. I think the right solution is for Docker to resolve the symlinks before calling the webhook (possibly supplying both sets of paths) as every single plugin will need to do this.

[2018-01-15 17:46] brettgeer commented on #10
Hi Torin,

   agreed, there are in fact cases when a symlink would be used, I can think of several I may use in future

brett

________________________________
From: Torin Sandall <notifications@github.com>
Sent: Monday, January 15, 2018 6:44:33 PM
To: open-policy-agent/opa-docker-authz
Cc: Geer, Brett; Mention
Subject: Re: [open-policy-agent/opa-docker-authz] Filesystem mount auth can be bypassed

[2018-01-15 23:45] justincormack commented on #10
I am not sure that resolving the symlinks is necessarily the right solution, but maybe it helps (not sure I can see downsides but it may not be that useful). There are bind mounts to consider too (although those need more privileges in general), which cannot be resolved, and all sorts of other files, eg you can also bind `/` via `docker run --rm -it -v "/proc/self/root/:/test" alpine ls /test` and

[2018-01-16 16:04] justincormack commented on #10
See my more detailed reply on https://github.com/moby/moby/issues/36020#issuecomment-357970248

[2018-01-16 16:04] tsandall commented on #10
@justincormack posted a good set of recommendations for securing access to host-level directories (which applies to all authorization plugins) here: https://github.com/moby/moby/issues/36020#issuecomment-357970248. I don't think there's anything else to do on this ticket. Closing for now.

@brettgeer hope this helps. If there's something else we can help with, let us know.

[2018-01-16 16:04] #10 closed

[2018-03-07 20:53] animale66 opened #12 "plugin opa-docker-authz failed with error: AuthZPlugin.AuthZReq: unexpected end of JSON input"
Hello all!

Goofy question for a new opa-docker-authz 1.6.  We're using docker 17.06 and I am including a copy of my policy.rego file for reference.

OPA is successful in preventing us containers with CAP_SYSADMIN or seccomp or other such nastiness from starting, but with it enabled, we get the following message when we attempt a docker login command:

**[root@tnv-it-ldockerdemo01 policy]# docker

[2018-03-08 15:16] animale66 opened #14 "arguments dropped in 0.2 and 0.2.1"
Hello,

Thanks for contributing to the open source community.  I was noticing the following flags were dropped in the 0.2 and 0.2.1 release of opa-docker-authz, but were present in 1.6

  -bind-addr string
        sets the address the plugin will bind to (default ":8080")
  -opa-url string
        sets the base URL of OPA's HTTP API (default "http://localhost:8181/v1")

These two options enable me

[2018-03-08 23:01] animale66 commented on #14
That makes sense - I managed to get the binary to launch.  Seems I just needed to clean out the old /var/run/docker/plugins/*.sock object from the old version for some reason and it launches.

Related to the available switches though, I am having issues with the sample 'example.rego' file provided in this repo, so I suspect there's been some syntax changes with OPA since it's been provided.  Perha

[2018-03-09 16:50] tsandall commented on #14
The example.rego is quite out of date. I'll submit a PR and fix that.

[2018-03-09 16:59] #14 closed

[2018-03-09 17:01] tsandall commented on #14
If you'd like, feel free to submit a PR to add a `-check` flag. You can implement the behaviour as follows:

1. if -check flag is set...
2. read file into memory
3. parse file using `ast.ParseModule` function (from OPA)
4. compile using `ast.Compiler` (from OPA)

Here's an example of how to do this: https://godoc.org/github.com/open-policy-agent/opa/ast#example-Compiler-Compile

Hope this helps!

[2018-04-23 20:14] CharanBR opened #18 "need help on the rego file"
each rule below works independently but when I put all of them in deny, opa allows all of them.

package docker.authz

default allow = false
allow {
    not deny
}

deny {
   privileged
   seccomp_unconfied
   usens_disable
}

privileged {
    input.Body.HostConfig.Privileged = true
}

seccomp_unconfied {
    input.Body.HostConfig.SecurityOpt[_] = "seccomp:unconfined"
}

usens_disable {
    input.

[2018-04-23 20:30] tsandall commented on #18
Statements in the body of a rule are ANDed together which means your deny rule reads as follows:

`deny IF privileged AND seccomp_unconfined AND usens_disable`.

What I think you want to say is `deny IF privileged OR seccomp_unconfined OR usens_disable`.

You can express this as follows:

[code]

Rules with the same name are ORed together.

[2018-04-23 20:32] CharanBR commented on #18
gotcha ! thank you.

[2018-04-23 20:32] #18 closed

[2018-04-24 16:48] CharanBR opened #19 "help with volume blacklist"
I'm trying to deny authz to volume mounts if the mount doesn't exist is white list. What am I doing wrong in this scenario ?

allow {
    not deny
}

deny {
  volume_whitelist
}

volume_whitelist {
   input.Body.HostConfig.Binds[_] = bind
   split(bind, ":", parts)
   not re_match(part[0], mapped_volume_whitelist[_])
}

allowed_volume_whitelist = { "/remote" }

[2018-04-24 17:58] tsandall commented on #19
This expression is _unsafe_: `not re_match(parts[0], allowed_volume_whitelist[_])`. It's unsafe because it's negated (`not`) and it contains a variable that is not bound elsewhere in the query (`_`).

You can rewrite your policy as follows:

[code]

[2018-04-24 18:31] CharanBR opened #20 "docker stop opa_container gives error"
why does docker stop opa_container not working for me ? Once I execute docker stop, all the subsequent docker commands that I execute fail with same error. The only way to resolve it to restart the docker daemon.

[root@host policies]# docker ps
CONTAINER ID        IMAGE                                  COMMAND                  CREATED             STATUS              PORTS               NAMES
7c56

[2018-05-02 14:26] nbrownuk opened #21 "Docker Hub Image for 0.2.2"
Do you plan on pushing an image based on 0.2.2, to the openpolicyagent/opa-docker-authz Docker Hub repo? Thanks.

[2018-05-04 07:12] tsandall commented on #21
hi @nbrownuk, sorry for the delay. We've been busy with KubeCon EU this week. We'll get the Docker Hub repo updated.

[2018-05-04 07:24] #21 closed, assigned to nobody

[2018-05-04 07:57] nbrownuk commented on #21
Thanks @tsandall

[2018-05-12 12:21] alobaidan opened #22 "run authorization plugin"
Hi,

what are the differences between runs the authorization plugin directly on the host or inside a container ?

Many thanks.

Ibrahim

[2018-05-12 17:43] tsandall commented on #22
Running the plugin as a container means you don't have to install any host-level packages. If you're trying to keep your host installation as minimal as possible, running the plugin as a container will help.

Keep in mind that if the plugin container stops, Docker will not be accessible--you'll need host-level access to restart the plugin container. You should make sure that you configure the plug

[2018-05-12 17:43] #22 closed

[2018-05-16 14:47] CharanBR opened #23 "disabling docker pull/push to docker hub"
@tsandall,

Is it possible to deny users from doing docker pull/push from docker hub but they can use private registries ?

Thanks,
Charan

[2018-05-16 17:15] tsandall commented on #23
Yes, you can do this. Assuming you have a well-known private registry URL you can do something like... `startswith(input.Body.Image, "myregistry.com/")`. You could make it more clever with a whitelist or you could try using regex.

[2018-05-17 20:44] CharanBR commented on #23
thanks for the reply. I'm doing this as you suggested.

[code]
So, this should work when I run commands like `docker run centos /bin/bash` but the commands executes runs successfully without interruption from opa. Also, how can to stop if I pull/push like
`docker pull centos`

[2018-05-17 20:49] tsandall commented on #23
I think the `input.Body.Image[_] = registry` line should be changed to `input.Body.Image = registry`. The image field is just a string so `input.Body.Image[_]` is not going to do what you want it to (it'll be undefined because you can't iterate over strings in OPA.)

If you want to restrict pull/push you can, but I think you'll need to look at the input.Path (those commands generate simple HTTP PO

[2018-05-18 17:30] CharanBR opened #24 "docker login gives error"
@tsandall ,

when I'm doing docker login, I get the prompt for entering username and password but immediately after that getting this error.

`Error response from daemon: plugin opa-docker-authz failed with error: AuthZPlugin.AuthZReq: unexpected end of JSON input`

Checking the docker logs and see this output and nothing else.

[code]

[2018-05-18 17:36] tsandall commented on #24
I think this means that the plugin is unable to serialize the input it received from Docker when the `login` command was executed. We ran into this before (https://github.com/open-policy-agent/opa-docker-authz/issues/12). This should be fixed in v0.2.1 and newer. Can you confirm that you're running v0.2.1 or newer?

If you are running v0.2.1 or newer and you're still seeing this error, we'll need

[2018-05-18 17:38] CharanBR commented on #24
I'm running v0.2. let me upgrade to the latest and test again. Thanks for responding quickly.

[2018-05-18 18:20] CharanBR commented on #24
upgraded it to v0.2.2 and that resolved the issue. Thank you so much.

[2018-05-18 18:20] #24 closed

[2018-07-06 13:14] HugoRh commented on #5
Hi,

I'm struggling like crazy with this one...
I use the below settings -
valid_host_paths = {"/allowed/path"}

host_volume_paths[trimmed] {
    input.Body.HostConfig.Binds[_] = bind
    split(bind, ":", parts)
    trim(parts[0], "/", trimmed)
}

valid_volume_mapping_whitelist = true {
    invalid_paths = host_volume_paths - valid_host_paths
    count(invalid_paths, 0)
}

allow {
valid_volume_map

[2018-07-06 16:04] tsandall commented on #5
@HugoRh `valid_host_paths` contains `"/allowed/path"` but `host_volume_paths` is trimming the leading and trailing "/" characters from the host paths.

[2018-07-09 03:41] HugoRh commented on #5
@tsandall  Thanks !
I'm was  struggling with the syntax...

Because this page appears on google search ( where the info is very limited on this topic), let me share my policy.rego (used to secure docker dev environments, so users can run containers locally but only with certains path on the host + all the options to limit authorization escalation), finally this policy is agnostic regarding docker

[2018-08-07 17:47] #4 closed

[2019-01-03 10:36] fengjinyuan opened #27 "how to ban docker rm command but can use docker start"

[2019-01-03 17:30] tsandall commented on #27
I'm not sure how `docker rm` translates into API calls to the Docker daemon. The plugin logs the query inputs though so you could figure out the appropriate Path and Method to filter.

I'm going to close this issue because I don't think there's anything specific we can fix.

[2019-01-03 17:30] #27 closed

[2019-02-13 16:51] alobaidan opened #28 "Docker authorzation plugin"
Hi,

I would like to create docker authorization plugin. but I have problem with the socket because docker socket cannot identify the user.

Is there anyway to make the socket identify the user ?

for example
the request send to the docker daemon have (subject, object and action).

Many thanks

[2019-02-13 17:56] tsandall commented on #28
@alobaidan I don't think there's anything to do on the OPA/plugin side. This is more a question of what Docker supports in terms of authentication. See the Docker documentation for more info: https://docs.docker.com/engine/extend/plugins_authorization/

It looks like you can configure TLS on the socket. If you do that, there will be user context included in the `input` document.

[2019-02-13 17:56] #28 closed

[2019-02-14 14:40] alobaidan opened #29 "opa-docker-authz.sock"
Hi,

I have tried to install opa after run the docker plugin install ... I got this error message " opa-docker-authz.sock no such file or directory".

and when i run docker plugin ls , I found the opa-docker-authz: latest but unenable ( false).

any recommandation please?

best

[2019-02-14 15:32] tsandall commented on #29
@alobaidan I haven't seen that particular error before. The socket binding and listener is handled by the Docker authorization framework. To debug this, I would look into the error message and figure out why that's happening. It sounds like the plugin container doesn't have access to a Docker socket?

[2019-02-14 17:46] alobaidan commented on #29
![121212](https://user-images.githubusercontent.com/14161637/52806281-7a75d300-3080-11e9-95cc-42b6e278398b.png)
please find attached image.

[2019-02-14 17:56] tsandall commented on #29
@alobaidan can you share your daemon config? It should be in /etc/docker/daemon.json.

[2019-02-14 18:09] alobaidan commented on #29
![11](https://user-images.githubusercontent.com/14161637/52807536-a21a6a80-3083-11e9-894a-c219d6cfd330.png)
![10](https://user-images.githubusercontent.com/14161637/52807541-a5155b00-3083-11e9-8a7b-b83a2513cbfd.png)
![11](https://user-images.githubusercontent.com/14161637/52807543-a777b500-3083-11e9-8979-baba4c58181a.png)
please find attached images

[2019-02-14 18:21] tsandall commented on #29
Hrmmm. I was wondering if the plugin name was not set correctly, but it seems to match the alias. The other thing you could try is removing the alias and setting the permissions like we describe in the tutorial: https://www.openpolicyagent.org/docs/docker-authorization.html

Beyond that, it seems like this might be a Docker issue/environment issue.

[2019-02-14 18:39] alobaidan commented on #29
I have removed the alias and sett he permissions like you describe in the tutorial. but i got the same error.

i found the opa-docker-authz plugin in plugin ls but icould not enable it.

[2019-02-15 12:07] alobaidan commented on #29
Can anyone help me please to run opa-docker-authz?

[2019-02-15 15:59] tsandall commented on #29
@alobaidan I've tested both the tutorial install instructions and the README install instructions that include an alias on the plugin install--both are working. This seems like something specific to the environment where you're running opa-docker-authz.

You could try looking at the Docker daemon logs to see if they indicate why the socket is not available.

[2019-02-17 18:08] alobaidan commented on #29
![123466666](https://user-images.githubusercontent.com/14161637/52917055-d2aa1080-32de-11e9-8257-cbd76d116cc0.jpg)
Hi,

still there is a problem when I install the opa plugin. I have tried to install opa after run the docker plugin install ... I got this error message " opa-docker-authz.sock no such file or directory".

please see the image, it seems everything is correct but I dont know what is t

[2019-05-23 07:11] przemolb opened #30 "What policy to enforce --user in docker run"
Hi,
I am trying to enforce our users to run `docker run` with `--user` parameter.
Have looked at the documentation but couldn't find any close example.
Can anybody tell me how could I achieve it ?

[2019-05-23 07:22] przemolb opened #31 "Cannot get opa docker plugin to work on Ubuntu"
HI all,
I am trying to get opa docker plugin to work on our Ubuntu system. I am following https://www.openpolicyagent.org/docs/latest/docker-authorization
[code]
And to test it:
[code]
So according to this policy `docker ps` should fail.
What is wrong with my configuration ?

[2019-05-23 07:27] przemolb commented on #31
I found the following in the docker logs:
[code]

[2019-05-29 16:09] tsandall commented on #29
Closing this issue because I was unable to reproduce it.

[2019-05-29 16:09] #29 closed

[2019-05-29 16:10] tsandall commented on #30
@przemolb you'll need to look at the plugin logs to figure out how Docker represents the --user parameter in the API request to be authorized. Each time the plugin queries OPA, it logs the input values provided.

[2019-05-29 16:10] #30 closed

[2019-05-29 16:19] tsandall commented on #31
@przemolb if you aren't seeing logs like the following:

[code]

Then it indicates that the plugin is not being queried (which is a Docker issue). I just ran through the steps locally and was not able to reproduce the issue. I'm going to close this for now as I don't have any concrete suggestions on how to debug Docker itself in this case.

[2019-05-29 16:19] #31 closed

[2019-05-29 18:27] przemolb commented on #31
Which steps did you run through: my or from the docs: https://www.openpolicyagent.org/docs/latest/docker-authorization ?

[2019-05-29 22:26] tsandall commented on #31
@przemolb I followed the steps from the doc on Ubuntu 18.04 with docker 18.06.1-ce. If you think there's an issue in the docs, feel free to submit a PR.

[2019-11-28 15:53] bviktor commented on #5
Thanks for all the pointers, unfortunately this only solves the `docker run -v /:/host-root` runs, not the `docker run --mount type=bind,source=/,target=/host-root` ones. The latter populates the `input.Body.HostConfig.Mounts[_].Source` (I think). Any suggestions how to solve that one?

---

Another question is, is there a macro for the current user's home dir? This is my current policy:

https://

[2019-11-28 20:40] bviktor commented on #5
I solved the first part with this setup:

https://github.com/noobient/noobuntu/blob/6d330b28b2e956492e346beda6bed32aa826ee55/ansible/roles/docker/files/authz.rego

Now the only question is about the home dir of the running user. Unfortunately I couldn't find any trace of either that or the username (from which I could construct the home dir) in `input.Body`...

[2019-12-06 13:31] suxarik opened #33 "Improper working with logging pipe inside plugin"
### Issue:
Docker cli stop responding to commands, because in some cases message sent to init-stderr or init-stdout is above the linux kernel default max pipe size of 64Kb. The only way to return to working conditions is to read the pipe manually.

**Pipes in question:**
[code]
### Example

Create yaml stack definition with docker secret above 64Kb (docker itself allow secret to be 500Kb: https://

[2019-12-06 13:35] tsandall commented on #33
@suxarik thanks for filing this. Do you have a suggestion for how the plugin can handle SIGPIPE properly? If you can submit a patch that would be ideal.

[2019-12-06 13:43] suxarik commented on #33
Probably something here can help:
https://golang.org/pkg/os/signal/
https://www.linuxquestions.org/questions/programming-9/how-to-handle-a-broken-pipe-exception-sigpipe-in-fifo-pipe-866132/

Sadly no. My dev skills are not that great. But firstly I think its important to find out is that a particular plugin problem or a docker plugin subsystem.

[2019-12-09 09:39] bviktor opened #34 "Limiting HostConfig.Binds and HostConfig.Mounts is extremely easy to defeat"
Consider this policy:

[code]

Now run this command:

[code]

All is well. Right? No, not quite.

[code]

Wow, just wow.

So, the solution seems obvious: dereference all paths defined on the command-line before running the AuthZ checks on them.

[2019-12-09 11:12] bviktor commented on #34
A patch like this might suffice:

[code]

But I'm unable to test it. If I simply replace the built file, docker complains it can't validate the file. If I try to install from local file, it says invalid reference format... Anyone?

[2020-01-09 19:27] bviktor opened #35 "How do I prevent the plugin from being disabled?"
So managing authorization is great and all, it's particularly a great idea via plugins (not), except for the fact that users can actually just disable the plugin right away. Yes, it's as easy as that.

[code]

You can enforce the plugin via `daemon.json` or via systemd flag, but that will only cause dockerd to fail upon the next restart of the daemon. Until then, the user is absolutely free to do

[2020-01-09 19:32] bviktor commented on #35
https://stackoverflow.com/questions/54124227/how-to-prevent-other-users-from-stopping-removing-my-docker-container

[2020-01-09 19:41] bviktor commented on #35
Running differently?

https://github.com/twistlock/authz

"Containerized" or standalone?

[2020-01-13 12:49] KajdeMunter commented on #28
For anyone stumbling on this through Google, I use Traefik and have configured it to use the Docker Socket through TLS. Dockers documentation will tell you the value of `User` is set to the client certificate subject common name. In my case the value was `Client`.

[code]
Will evaluate to True when using Traefik. `journalctl -f -u docker.service` will show you all available fields.

[2020-01-13 17:10] tsandall commented on #35
@bviktor I haven't looked into whether an authorization plugin block `docker plugin disable` or not. If it's not possible then using the legacy method (mentioned in the README) would be the recommendation.

That's certainly something you can stop with the auth/z plugin.

So, to answer your question, it seems like it's theoretically possible. It's worth mentioning this is less an issue with OPA or

[2020-01-14 15:49] bviktor commented on #35
Could you please elaborate how? I tried to look but I've found no info on this. I'd be happy with a full block, i.e. docker members cannot do any `plugin` command.

[2020-01-15 16:04] tsandall commented on #35
Ah, I see what you've described in #34 now. If users can symlink files then they trick any checks against the bind mounts...to deal with this we could improve the plugin code to resolve filesystem paths before querying OPA.

As far as blocking the `plugin` command goes, I'm not sure how this works. If you have the plugin running, you could look the logs to see if the authz checks occur for `plugin

[2020-01-31 10:31] Silvanoc opened #36 "Usage of multiple modules possible?"
Does the current implementation of the plugin allow splitting the policy in multiple modules? It doesn't look to me as it would be possible.

If this possibility is missing, is it planned to add it?

[2020-01-31 16:48] ashutosh-narkar commented on #36
You're right. From the code https://github.com/open-policy-agent/opa-docker-authz/blob/master/main.go#L162 it looks like a single policy file can be loaded. Can you expand on your use-case and the kind of policies you want to enforce ?

[2020-02-03 08:08] Silvanoc commented on #36
Use-case:

- Docker host where docker-compose is being "occasionally" used to manage the containers.
- Policy to control the configuration of the containers.
- Rules should be enforced on Docker using this plugin, but it should be also possible to tell on advanced if a docker-compose configuration will be executable or not.
- Rules reuse desired as much as possible.

The idea is having common rule

[2020-02-04 01:01] ashutosh-narkar commented on #36
Maybe something like [conftest](https://github.com/instrumenta/conftest) could help with this ?

advanced if a docker-compose configuration will be executable or not.

I can imagine the plugin leveraging the [load](https://godoc.org/github.com/open-policy-agent/opa/rego#Load) api to load all the _*.rego_ files in a directory.

[2020-02-05 16:26] tsandall commented on #36
As @ashutosh-narkar mentioned, the implementation could be improved by using the `rego.Load(path)` option when preparing for evaluation [here](https://github.com/open-policy-agent/opa-docker-authz/blob/master/main.go#L81). The `rego.Load(path)` option accepts a path to a file or directory. If a directory is given, the option will load all files and directories, recursively.

[2020-02-07 15:43] nxf5025 opened #37 "Rego http.send header and connection refused issue with the plugin"
Seems like there's an issue with using the http.send (https://www.openpolicyagent.org/docs/latest/policy-reference/#http) as part of this plugin.

When executing with headers I get the following:
[code]

When I remove the headers I have the following:
[code]

I'm able to successfully send the POST request using curl from the server so it does not look to be a port issue.

[2020-02-11 20:35] tsandall commented on #37
@nxf5025 the first issue looks like it's caused by the fact that the vendored version of OPA is old and the built-in function does not support the headers field. The latest version of OPA does so we just need to re-vendor.

That second issue is odd. It looks like the plugin can't resolve the hostname or is unable to connect to the resolved IP. Not sure which one.

[2020-02-26 03:44] zackpay opened #38 "Docker images are hosed on docker hub"
The docker images hosted on docker hub show a size of 0 bytes and I'm unable to pull any of the images.

[2020-02-26 17:11] ashutosh-narkar commented on #38
@zackpay are you following instructions as described [here](https://www.openpolicyagent.org/docs/latest/docker-authorization/) ? I was able to install the plugin.

More installation instructions [here](https://github.com/open-policy-agent/opa-docker-authz#install).

[2020-03-20 15:58] prudhvigodithi opened #39 "Empty User value, log as level=error msg=" \"User\": \"docker.client\"""
Hey I'm trying to run this OPA plugin inside Debian host which is Kubernetes worker node (setup used is kops for Kubernetes), I see that in docker logs User is an empty string, not able to get the user information, whereas I get all other input values like Headers, Path, method, Body, AuthMethod, so when I try to write rego auth policy with the User information it's failing as the User string is e

[2020-04-13 12:15] tsandall commented on #39
@prudhvigodithi I'm not surprised that calls to the docker daemon are unauthenticated. I'd recommend investigating Kubernetes admission control to figure out if your policy can be implemented at that layer instead of inside the container runtime. See the Kubernetes admission control docs on openpolicyagent.org for more info.

[2020-04-13 18:59] prudhvigodithi commented on #39
got it thanks, but our operations include a direct talk with the docker daemon, currently is there a way I can restrict Authz-User form complete docker run which includes

[code]

As i see when I restricted with
[code]

This is even stopping the image form pulling also, I want to stop it only from docker run whereas a user can do a docker pull. if this gets done I guess I need not go to k8s admiss

[2020-04-14 14:18] prudhvigodithi commented on #39
Hey thanks a lot for reaching me back, our operations involve direct querying of docker daemon so at this point we cannot go to Kubernetes admission control though our setup is in Kubernetes, however at this point, I was wondering if we have some webhook actions based on docker queries like if a command executed like a docker run --net as host to trigger an email or notification, in that case, we

[2020-04-17 12:04] atoom opened #44 "Add support for returning details about why a request was rejected by policy"
Hi,

We have implemented quite a lot of policy rules according to the CIS Benchmark for Docker and it works great. Unfortunately it is very difficult for the end user to understand in what way they might violate certain policies as the error message is hardcoded to `request rejected by administrative policy`.

Would it be possible to add support for customizing the error message that is returned t

[2020-04-20 12:42] tsandall commented on #39
OPA lets you execute policies. It doesn't support scanning of resources and triggering out-of-the-box. You would have to build that yourself. This plugin also doesn't do it for you--it just integrates OPA with Docker to enforce authorization policies.

[2020-04-20 13:09] tsandall commented on #44
@atoom the plugin expects the policy to return a boolean indicating whether the request should be allowed or not: https://github.com/open-policy-agent/opa-docker-authz/blob/master/main.go#L94

If you wanted, you could extend the plugin to receive an object that indicates (a) whether to allow/deny the request and (b) if the request is denied, a reason. Something like:

[code]

[2020-04-20 13:48] atoom commented on #44
@tsandall Thanks for the input!

Do you think this is a feature that would be beneficial for others - i.e. would you accept a PR or is it better if we fork the plugin code and maintain it internally only for us ?

[2020-04-23 03:48] atoom commented on #44
We will do this internally first and if we feel it is good enough we will open a PR for you to consider!

[2020-04-23 03:48] #44 closed

[2020-04-23 10:35] tsandall commented on #44
OK @atoom sorry for the delayed responses. This repo is somewhat lower priority since it has fewer users than other OPA integrations like ones for Kubernetes, Envoy, etc. If you'd like to contribute improvements, please just file an issue ahead of time outlining the functionality.

[2020-04-28 00:17] thomasco opened #45 "Release v0.6"
@tsandall, can you cut a release for v0.6? I'm not sure what exactly is required to make `docker plugin install` work – maybe also updating Docker Hub?

[2020-04-28 12:20] tsandall commented on #45
@thomasco I've pushed the v0.6 version to Docker Hub. I haven't tested the install so please let me know if it works.

[2020-04-28 21:02] thomasco commented on #45
I installed it and briefly tested things out – everything seems to work. Thanks!

[2020-04-28 21:02] #45 closed

[2020-04-29 15:28] 0x9060 opened #46 "Unable to locate plugin after restarting daemon (following tutorial)"
### Summary

I'm getting `failed to validate authorization plugin: plugin "openpolicyagent/opa-docker-authz-v2:0.6" not found` after installing OPA and restarting the Docker daemon.

### Background
I'm walking through the tutorial at https://www.openpolicyagent.org/docs/latest/docker-authorization/ to implement the OPA Authorization plugin. I meet the prerequisites listed:

* Docker Version - 19.0

[2020-05-03 02:24] 0x9060 commented on #46
This is an open issue with the way the Docker daemon handles `Docker Root Dir` for plugins. This was validated and is being addressed here: https://github.com/moby/moby/issues/40880

[2020-05-03 02:24] #46 closed

[2020-07-13 00:24] #39 closed

[2020-07-16 12:04] AlKult opened #49 "Running Ansible against docker with opa-docker-authz"
Hello,

I'm experiencing issues running Ansible against docker with opa-docker-authz.
I'm getting _authorization denied by plugin opa-docker-authz: request rejected by administrative policy_, and can't figure why. Running docker directly from shell works fine, so I'm positive the user has necessary access.
This might be an Ansible issue, but I figure it's more likely that someone who knows opa-doc

[2020-07-20 15:26] AlKult commented on #49
Found the issue. It was my policy.rego to blame.

[2020-07-20 15:26] #49 closed

[2020-08-16 19:29] narayanan opened #50 "Error while reading from Writer"
Seeing the following message in docker daemon log. Once this error happens, docker daemon becomes unresponsive.

[code]

Environment:
- Docker DIND + OPA authz plugin deployed in kubernetes environment

[code]

[2020-09-16 22:05] ramapalani opened #51 "Unable to connect opa-docker-authz.sock"
I'm trying to run OPA docker plugin as part of Daemonset DIND (docker-in-docker).
Followed steps in this tutorial: https://www.openpolicyagent.org/docs/latest/docker-authorization/#goals

Only rule that in the rego file is to prevent privileged containers.  This works as expected in a pre-prod environment.  When we run this in prod env, it works as expected for about an hour, after that OPA plugin

[2020-09-16 22:15] ashutosh-narkar commented on #51
Are there any other logs ? Any more information from running `docker plugin inspect` ?

[2020-09-16 22:16] ashutosh-narkar commented on #51
Also what's different between the pre-prod  and prod environments ?

[2020-09-17 04:08] ramapalani commented on #51
It is same except that traffic is more in prod

On Wed, Sep 16, 2020, 15:17 Ashutosh Narkar <notifications@github.com>
wrote:

[2020-09-17 05:29] ashutosh-narkar commented on #51
In that case, have you tried allotting more resources to check if the system is not exhausted ?

[2020-09-17 18:30] ramapalani commented on #51
Ashutosh,
You were right, both CPU and Memory(RAM) in the pod spiked way above the
requested amount.

Resources in pod spec:

        resources:

          requests:

            memory: 4G

            cpu: 1

Actual consumption:
[image: image.png]

We can increase the resources to a higher level but not to 25G, but memory
keeps on increasing.  I suspect a memory leak or other issue?  Could you
h

[2020-09-17 19:28] ramapalani commented on #51
Actual consumption screenshot
![image](https://user-images.githubusercontent.com/7064234/93518103-3c3a3880-f8e1-11ea-9e5d-8e89ff982490.png)

[2020-09-18 00:49] ashutosh-narkar commented on #51
Memory usage typically depends on the size of the data and policy that you load into OPA. [This](https://www.openpolicyagent.org/docs/latest/policy-performance/#resource-utilization) page provides more details on resource utilization.  Do you have an estimate of these values ?

[2020-09-18 02:03] ramapalani commented on #51
This is the policy, it just evaluates only one field.
[code]
I don't control the data, docker sends the [input data](https://www.openpolicyagent.org/docs/latest/docker-authorization/#6-update-the-policy-to-reject-requests-with-the-unconfined-seccomp-https-en-wikipedia-org-wiki-seccomp-profile) to OPA plugin

Here is a sample input data with Body as null.
[code]

When Body is not null, data is arou

[2020-09-20 08:49] ramapalani commented on #51
@ashutosh-narkar Can you suggest a way to reduce the data or another way to avoid this 'huge' memory consumption by OPA docker plugin?

[2020-09-21 16:22] ashutosh-narkar commented on #51
The data seems pretty small. Have you documented OPA's memory usage with time ? And also how much memory have you allocated so far ?

[2020-09-21 18:08] ramapalani commented on #51
resource request is 4GB, but the actual usage went upto 25GB and then connection to scoket is lost.  So we had to start docker-DIND without OPA plugin to get it working back

[2020-09-21 19:04] ashutosh-narkar commented on #51
@ramapalani  Can you provide an example of how to reproduce the issue ? Any scripts that you have to simulate the traffic etc. would be helpful.

[2020-09-21 20:07] ramapalani commented on #51
I'll try to reproduce this in our pre-prod environment and share it with you.

[2020-09-22 21:34] ramapalani commented on #51
@ashutosh-narkar  I'm trying to reproduce this in pre-prod env.  As part of this effort, I was checking whether the socket is open every minute using a simple shell script.  I also collect open file and processes running at the failed instance.

Though I'm not exactly reproduce the issue as in prod env, I see opa socket is not listening often.  Here is one instance of the failure.  Many times the

[2020-09-29 07:31] ashutosh-narkar commented on #51
Hmm you're getting a segmentation fault. What system are you running this on ?

[2020-09-29 15:16] ramapalani commented on #51
We run docker DIND (docker in docker) container as a Kuberenetes daemonset.  This is the image docker:18.09.5-dind.  OPA docker plugin is installed into this instance of docker.

[2020-10-05 17:20] ramapalani commented on #51
@ashutosh-narkar I couldn't reproduce this issue in pre-prod environment, but we encounter this in production environment (with higher traffic) consistently after a short period.

So I created a custom plugin, to prevent privileged container creation and that works well.

[2020-10-05 17:47] ashutosh-narkar commented on #51
That's great ! Is that custom plugin using OPA ?

[2020-10-05 19:30] ramapalani commented on #51
No, created a fresh docker authorization plugin totally separate from OPA

[2020-10-14 13:59] darrais opened #52 "How to reduce decision logging?"
Hi,

Is there is a way to reduce the amount of logs produced when calling the **opa-docker-authz** plugin?

I noticed that, for every **docker** command executed, the entire input HTTP request and the corresponding decision is logged with a logging level of **ERROR**. This seems (for lack of a better word) extreme. In my perspective, in no way is the information logged erratic of some sort.

I'd e

[2020-10-21 15:16] tsandall commented on #52
Today we don't have any logging levels--the integration just prints log messages to stderr via the standard Go `log` package. Because of this, I'm not sure where the "ERROR" level you're referring to is coming from. It would be relatively easy to add an option to the integration to disable logging on each request (e.g., a `--quiet` flag or similar). We'd be happy to accept a PR for this.

[2020-11-05 14:27] darrais commented on #52
Hi @tsandall,

I've already created a PR for this - please see https://github.com/open-policy-agent/opa-docker-authz/pull/53. Note that this was my first time coding in Go and fiddling around with Docker plugins at this level. I hope I've done everything as expected.

I've tried to keep changes to a minimum, and set the `-quiet` flag to disable only the logging of the HTTP requests. Every other me

[2020-11-09 15:04] #52 closed

[2020-11-26 11:39] bviktor opened #54 "How do I use regexes?"
Hi, I'm trying to write something like

[code]

To match volumes, but all I get is this:

[code]

Do I need to "import" something?

[2020-12-01 16:26] tsandall commented on #54
Use `re_match` instead. We deprecated the name `re_match` in favor of `regex.match` in OPA v0.23.0 (this integration is vendoring v0.18.0 of OPA).

[2020-12-01 16:26] #54 closed

[2020-12-03 17:41] bviktor commented on #54
Thanks! It'd be great if it was documented somewhere. Unless I'm looking at the wrong docs :)

[2021-01-08 15:31] flixr commented on #35
Any updates here? @bviktor did you find any way to actually use this?

[2021-01-08 17:02] bviktor commented on #35
Nope. I just keep hoping that no one figures it out in the company lol.

[2021-01-09 18:18] flixr commented on #35
@bviktor I'm running opa-docker-authz as binary on the host started via systemd as explained in https://docs.docker.com/engine/extend/plugin_api/#systemd-socket-activation
That way it is not used as a managed plugin and hence can't be seen or disabled with `docker plugin`...

Don't have a solution for the symlink problem though... for now I deny all bind mounts starting with `/`...

[2021-01-09 18:21] bviktor commented on #35
Hmm... sounds interesting. How do you obtain the binary, and what's your unit file ? Thanks in advance!

[2021-01-09 18:34] flixr commented on #35
As I was too lazy to build it from source and the latest releases here on github are outdated, I just copied the binary from the ../docker/plugins/... dir..

my system units are just like described in the docker docs: `/etc/systemd/system/opa-docker-authz.service`
[code]

and `/etc/systemd/system/opa-docker-authz.socket`
[code]

[2021-01-09 18:34] bviktor commented on #35
Thanks, I'll take a look!

[2021-02-23 11:38] bviktor commented on #35
How does one obtain the sources? 0.4 is the latest in the repo, but dockerhub is on 0.7 lol.

[2021-02-23 15:59] bviktor commented on #35
The sources being unavailable is a different issue, the systemd activation trick actually solved this one for me too. Thanks a lot, @flixr ! One note: one has to `systemctl enable opa-docker-authz.service && systemctl start opa-docker-authz.service`, until then it won't work.

[2021-02-23 15:59] #35 closed

[2021-02-23 16:32] bviktor commented on #34
Any update? It'd be great to add a simple check if the target is symlink or not. As of now, this omission renders the plugin quite pointless :(

[2021-06-29 08:13] anderseknert commented on #38
Seems to work from here too. Closing for now and can re-open if needed.

[2021-06-29 08:13] #38 closed

[2021-06-29 08:25] anderseknert commented on #35
Yep, just tried this when working on another issue. The relevant parts of the input would looks something like the below, when `docker plugin disable <id>` is called:

[code]

[2021-06-29 08:29] anderseknert commented on #37
This is fixed by #55.

The issue was that the plugin by default doesn't have access to the network. Additionally, the base image used did not have any certificates bundled, so next up would be certificate validation errors.. also fixed.

[2021-06-29 13:25] anderseknert commented on #34
@bviktor I've been working some on this plugin for the past couple of days, and I stumbled on this issue now. Do I get it right that in your example, the `Source` attribute here is a symlink to something else entirely, and since there's no way of determining that from from inside of your policy, you'd want to have that check added before it's passed to OPA for evaluation?

[code]
I don't really un

[2021-07-01 13:14] anderseknert opened #56 "Set plug-in specific labels for decision logging"
The `-policy-file` option comes with its own decision logger which prints decisions to console. While the new `-config-file` option and "real" decision logging is preferable, one thing missing there is the labels set by the "fake" decision logger:

[code]
It would be nice if we could have these labels provided also for the `-config-file` decision logger. The SDK doesn't currently provide any helpe

[2021-07-31 19:10] josephlim75 opened #58 "Restricting docker exec to specific users not working"
Running `opa_version : v0.18.0, plugin_version: 0.7`
## Policy file
[code]

## Journal Log
[code]
## Command Results
[code]

[2021-07-31 19:23] anderseknert commented on #58
Thanks for reporting this @josephlim75. Could you add another allow rule for `HEAD` requests?

[code]

The Docker command line client sends a ping request (`HEAD` to `/_ping`) to check that the server is up before it sends the "actual" request, and I suspect that's what's getting denied here.

Next release of the plugin will see this fixed, as we'll exclude the ping request from policy evaluation

[2021-07-31 19:45] josephlim75 commented on #58
@anderseknert  Thanks.  I have added the `HEAD` method as you mentioned.  I got another error now.

[code]

[2021-07-31 19:55] anderseknert commented on #58
Can't say I've seen that before. If OPA denied the request I would expect the usual "authorization denied by plugin opa-docker-authz" but still, might be useful to check the logs one extra time if there are more requests included in the "exec" action not currently covered by the policy? I take it the error is gone if you add something like:

[code]

..right? The Docker CLI is a little tricky, as m

[2021-07-31 20:18] josephlim75 commented on #58
I finally got it working but still having some issue, hope if you have a solution to my problem.  When i issue `docker exec -it -u 1001 <container> bash`, there are 3 requests  send to Docker namely, `/exec`, `/resize` and `/start`.  For the arguments I needed for my decisioning, it is all located in request `/exec`, After `/exec`, another request `/resize` and `/start` is send.  For now I have th

[2021-07-31 23:21] josephlim75 commented on #58
Ignore my previous comment, I think i manage to make it work now.  At least I can restrict `docker exec` with a non-root user
[code]

[2021-08-02 04:41] #58 closed

[2021-08-02 04:42] josephlim75 commented on #58
It is working now and I'm closing the issue.  Thanks for your help

[2021-08-02 14:13] anderseknert commented on #58
Happy to hear that @josephlim75 👍

[2021-08-27 09:32] voliveirajr opened #59 "Install the plugin on Docker Desktop Windows - WSL2"
I would like to ask if did you try to install and use the plugin on Docker Desktop for Windows using WSL2 and how to find the right place for the policies file.
On install this mounts a hardcoded path to "/etc/docker" that I believe it's mounted in the "docker-desktop-data" WSL instance, I'm not sure if this instance mount any folder on the Windows host to then, place my policy files.

Any thought

[2021-08-29 20:10] anderseknert commented on #59
From what I can tell, this location can only be provided when the [plugin is built](https://github.com/open-policy-agent/opa-docker-authz/blob/main/config.json#L23). This kinda makes sense as you need to explicitly allow the plugin to mount that directory, but it certainly offers less in terms of flexibility. I haven't really used WSL2, but could such a directory not be created on the host system?

[2021-08-31 09:26] voliveirajr commented on #59
I could figure out where the files are persisted in the WSL instance. Manually creating `\\wsl$\docker-desktop-data\etc\docker` the plugin can mount it during install and it is placed under `\\wsl$\docker-desktop-data\version-pack-data\community\docker\plugins`.

Adding the configuration in the daemon.js it hangs, the logs even in debug didn't give me much details about the issue

These are the lo

[2021-08-31 19:22] anderseknert commented on #59
Can't say I've seen that before, no. What exactly did your daemon.json file look like?

[2021-09-01 09:29] voliveirajr commented on #59
I built the plugin and pushed to our private registry to be able to install, so the daemon I'm using is
{
    "authorization-plugins": ["my.private.registry/my-company/openpolicyagent/opa-docker-authz-v2:0.8"]
}

I'm using the same name I get in the docker plugin inspect

[2021-09-01 11:30] anderseknert commented on #59
Makes sense that it's reproducible for MacOS, as I think that's the way it normally fails on that platform (authz plugins not currently supported there AFAIK). I don't know why it would fail on Windows though.

[2021-09-08 10:15] voliveirajr commented on #59
After a lot of tries I will assume that didn't work yet in WSL2, but not sure exactly why. Starting a new plugin from the scratch using as base the go-plugins-helpers, it worked ok in Docker Desktop 3.6 both for Win(WSL2) and Mac. I guess it's not an issue with the OS or the plugin itself, but with the engine evaluating the policies.
I will close this issue as the project doesn't mention support i

[2021-09-08 10:15] #59 closed

[2021-09-08 10:17] voliveirajr commented on #59
In the future if you want to oficially add support to these environments let me know, I would gladly help you.

[2021-09-08 10:31] anderseknert commented on #59
Huh, that's interesting! Thanks for reporting back on that @voliveirajr . The OPA plugin not working in combination with the little I could find on authorization plugins on Mac suggested them not being supported, but if that's not the case that's certainly great news. I'd definitely appreciate your help on adding support for any environment. Do you have code for an example plugin known to work on

[2021-09-08 11:23] voliveirajr commented on #59
I can't share the plugin but it's not rocket science.
Using the https://github.com/docker/go-plugins-helpers
Or even the ready to use template https://github.com/leogr/docker-authz-plugin
You can write a simple plugin just manipulating the AuthZ object.
You are right, oficially Docker doesn't support plugins in Win and Mac Docker runtimes. However the newer vesions of Docker Desktop runs a docker-

[2021-09-08 11:35] anderseknert commented on #59
Thanks @voliveirajr! I guess you're right, it could be a recent change in Docker Desktop. Either way, great! Will definitely look into getting this plugin to run on each platform as soon as I find some time. Thanks for linking to that template, I'll start from there.

[2021-09-14 19:40] anderseknert opened #60 "Investigate Windows and Mac support"
While seemingly not supported officially, it is [apparently possible](https://github.com/open-policy-agent/opa-docker-authz/issues/59#issuecomment-915150563) to run at least basic authz plugins on Windows and Mac now. We should investigate why this plugin currently fails in those environments, and if there's something we can do to fix that.

[2021-10-16 16:26] flixr commented on #34
@anderseknert I have the same problem.
If we could resolve symlinks for absolute paths given in `input.Body.HostConfig.Binds` and `input.Body.HostConfig.Mounts`, then we could check the actual path in the policy file.
From what I understand, this could work if we e.g. put the Binds and Mounts into extra fields like e.g. `input.Binds` and `input.Mounts` and call `filepath.EvalSymlinks` on those ent

[2021-10-16 17:44] flixr commented on #34
How about something like this (non-functional):
[code]
I'm new to go, so this is not correct, you can't access the body.HostConfig.Binds like that...
Not sure how to access this properly, but IMHO something like this should do the job here in principle.
Suggestions welcome!

[2021-10-18 09:53] anderseknert commented on #34
Sure! Let me know how it goes and if you need some help later 👍

[2022-08-08 11:07] tacerus opened #63 "seccomp example not functional"
Hello,

I was following the tutorial up until step 6, but using the sample code with the seccomp filter prevents the Docker daemon from starting.

[code]

[code]

Only if I revert the changes to the sample in step 5 it will come up again.

[code]

`Aug 08 13:01:51 tumbleweed01 systemd[1]: Started Docker Application Container Engine.`

Maybe something peculiar about my setup? Is there possibly a wa

[2022-08-08 19:43] anderseknert commented on #37
Looks like I forgot to close this before..

[2022-08-08 19:43] #37 closed

[2022-08-09 18:58] anderseknert commented on #63
Thanks for reporting this. I'm not sure what could be wrong here to be honest 🤔 Updating the policy should at most make authorized requests unauthorized — it should have no effect on whether the plugin keeps running or not. Been so long since I worked on this that I don't remember entirely how to get debug logs, but some journald command IIRC — there's some pointers to it in the docker docs on aut

[2022-08-10 09:31] tacerus commented on #63
Thanks for your reply!
Maybe something changed in Docker's authorization API? The log output I pasted already comes from what the Docker daemon prints to the system journal.

[2022-08-10 19:28] anderseknert commented on #63
Ah, thanks! Yeah, the pain of debugging this plugin is pretty much why I only revisit it every once in a while 😅 Definitely possible that something changed in the Docker API or internals since the last time I worked on this. I'm on paternity leave until September, but if you figure something out until then, I'd be interested in knowing about it!

[2022-11-15 13:38] anderseknert commented on #34
@bviktor please take a look at the work done by @mdcurtis in https://github.com/open-policy-agent/opa-docker-authz/pull/65

I do believe this should resolve this issue, at least to the extent possible. WDYT?